@using AIOrchestrator.Model;
@using Newtonsoft.Json;
@inject SettingsService SettingsService
<h3>Home</h3>
<RadzenTextArea @bind-Value=@ATaleofTwoCitiesRaw Cols="70" Rows="10" />
@code {
    private string ATaleofTwoCitiesRaw = "";

    protected override async Task OnInitializedAsync()
    {
        using var stream = await FileSystem.OpenAppPackageFileAsync("ATaleofTwoCities.txt");
        using var reader = new StreamReader(stream);

        ATaleofTwoCitiesRaw = reader.ReadToEnd();
    }
    
}